.packages {
  border-radius: 0 0 15px 15px;
}

.sidebar {
  background-color: grey;
  transition: 0.5s;
  width: 300px;
  position: fixed;
  height: 100%;
  z-index: 10;
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }

  .open {
    display: block;
  }
}

.package_details {
  color: #008000;
  margin-left: 4px;
}

.package_detail {
  color: blue;
}

.packageDetails_img {
  width: 80%;
}

.sidebar_title {
  color: #17179fad;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.loading_giphy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
}

.airline_giphy {
  width: 100px;
  margin: auto;
  border-radius: 50%;
}

.flight_bool {
  height: 25px;
}
