@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font-1);
}

:root {
  /* colors */

  --color-1: rgb(61, 137, 236);
  --color-2: rgba(69, 94, 193, 0.7);

  /* shadows */
  --box-shadow-1: 3px 3px 10px rgba(0, 0, 0, 0.3);

  /* fonts */
  --font-1: 'Roboto', sans-serif;
}

.booking-container {
  background-image: url(../../assets/images/background1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 15px;
  position: relative;
}

.form-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 5px black;
  font-size: 2em;
  font-weight: 900;
}

.form-title-1 {
  animation: right 1.5s ease-in;
}

.form-title-2 {
  animation: left 1.5s ease-in;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-form select {
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-right: 3px solid rgb(200, 200, 200);
  border-bottom: 3px solid rgb(200, 200, 200);
  color: white;
  font-weight: 900;
  background-color: var(--color-1);
  padding: 15px;
  border-radius: 50px;
  box-shadow: var(--box-shadow-1);
  outline: none;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.booking-form select:hover {
  background-color: var(--color-2);
}

.start-date .start-date-input {
  position: absolute;
  left: 0;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: var(--box-shadow-1);
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s;
  color: darkslategray;
}

.end-date .end-date-input {
  position: absolute;
  right: 0;
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: var(--box-shadow-1);
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.5s;
  color: darkslategray;
}

.start-date-input:hover,
.end-date-input:hover {
  padding: 15px 40px;
}

.start-date-input::placeholder,
.end-date-input::placeholder {
  color: var(--color-1);
}

.booking-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-button {
  color: var(--color-1);
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  font-weight: 900;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
  transition: 0.5s;
  border-left: 3px solid rgb(225, 225, 225);
  border-top: 3px solid rgb(225, 225, 225);
  border-right: 3px solid rgb(200, 200, 200);
  border-bottom: 3px solid rgb(200, 200, 200);
}

.form-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

select > option {
  background-color: white;
  color: darkslategrey;
  padding: 15px;
}

.back-button {
  position: fixed;
  left: 0;
  bottom: 50px;
  padding: 15px;
  font-weight: 900;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: var(--color-1);
  background-color: white;
  box-shadow: var(--box-shadow-1);
  transition: 0.5s;
}

.back-button:hover {
  padding: 15px 20px;
}

@keyframes left {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.loading-gif {
  margin: auto;
  width: 60px;
}

@media (min-width: 768px) {
  .booking-container {
    height: 100vh;
    margin-left: 100px;
  }

  .booking-buttons-div {
    flex-direction: row;
    gap: 0;
  }

  .booking-buttons-div > * {
    width: fit-content;
  }

  .start-date .start-date-input {
    position: static;
    border-radius: 15px;
  }

  .booking-form select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .end-date .end-date-input {
    position: static;
    border-radius: 15px;
  }

  .start-date .start-date-input:hover,
  .end-date .end-date-input:hover {
    padding: 15px 20px;
  }

  .form-title {
    font-size: 3.5em;
  }
}

.loading-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  backdrop-filter: blur(5px);
}

#loading-gif {
  margin-top: 200px;
  width: 60px;
}
